@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--theme-bg: #ffffff;

	--bg-main: #ffffff;
	--text-main: #646cff;
	--border-main: #171717;

	--project-bg: #4952fe;
	--project-shadow: [inset_0px_0px_45px_-10px_#110826];

	--bg-nav: #e5e7eb;
	--bg-nav-btn: #d1d5db;
	--text-nav-btn: #111827;

	--bg-secondary: #e5e7eb;
	--bg-secondary-highlight: #d1d5db;
}

.dark {
	--theme-bg: #646cff;

	--bg-main: #1a1a1a;
	--text-main: #646cff;
	--border-main: #f0f0f0;

	--project-bg: #321a68;
	--project-shadow: [inset_0px_0px_45px_-10px_#110826];

	--bg-nav: #1f2937;
	--bg-nav-btn: #111827;
	--text-nav-btn: #f0f0f0;

	--bg-secondary: #1f2937;
	--bg-secondary-highlight: #374151;
}

body {
	/* background: #08233b;
	color: white; */
	overscroll-behavior: none;

	&::-webkit-scrollbar {
		width: 10px;
		/* background-color: #d9d9d91f; /* Matches the theme */
		background-color: #333;
	}

	&::-webkit-scrollbar-thumb {
		/* background-color: #3c84c7; /* Matches the theme */
		background-color: #666;
		border-radius: 5px;
	}
}

@layer base {
	html {
		scroll-behavior: smooth;
	}
}

@layer utilities {

	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}
}

@keyframes slide-fade-in-dropdown-animation {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0);
	}
}

.slide-fade-in-dropdown {
	overflow: hidden;
}

.slide-fade-in-dropdown>ul {
	animation: slide-fade-in-dropdown-animation .4s ease;
}

/* fade out */

@keyframes slide-fade-out-dropdown-animation {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-100%);
	}
}

.slide-fade-out-dropdown {
	overflow: hidden;
}

.slide-fade-out-dropdown>ul {
	animation: slide-fade-out-dropdown-animation 0.4s ease;
	animation-fill-mode: forwards;
}