@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* background: #08233b;
	color: white; */
	overscroll-behavior: none;

	&::-webkit-scrollbar {
		width: 10px;
		/* background-color: #d9d9d91f; /* Matches the theme */
		background-color: #333;
	}

	&::-webkit-scrollbar-thumb {
		/* background-color: #3c84c7; /* Matches the theme */
		background-color: #666;
		border-radius: 5px;
	}
}

@layer base {
	html {
		scroll-behavior: smooth;
	}
}

@layer utilities {

	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}
}

@keyframes slide-fade-in-dropdown-animation {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0);
	}
}

.slide-fade-in-dropdown {
	overflow: hidden;
}

.slide-fade-in-dropdown>ul {
	animation: slide-fade-in-dropdown-animation .4s ease;
}

/* fade out */

@keyframes slide-fade-out-dropdown-animation {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-100%);
	}
}

.slide-fade-out-dropdown {
	overflow: hidden;
}

.slide-fade-out-dropdown>ul {
	animation: slide-fade-out-dropdown-animation 0.4s ease;
	animation-fill-mode: forwards;
}